


ds-design-system {

    &>ul {
        list-style-type: none;
        padding: 0;

        &>li{
            border: @border-01;
            // background: fade(@color-black, 5%);
            margin: @padding-01*2 0;
            padding: @padding-01;
            border-style: dashed;
    
            h2 {
                margin-bottom: @padding-01*2;
            }
        }
    }


    &>h1 {
        font-size: 3rem;
    }
}